nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
            div.container
                a.navbar-brand(href='#') PEM
                div#navbarCollapse.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(href=request_link).nav-link 依頼
                        li.nav-item
                            a(href=status_link).nav-link 状況
                        li.nav-item
                            a(href=log_link).nav-link 履歴