div.jumbotron
    div.container
        h1(style='padding-bottom: 1rem;') PLISE Equipment Manegement System
        h2#request(style='padding-bottom: 1rem;) 備品購入依頼
        form.form-horizontal
            div.form-group
                div.col-md-6
                    input(type='text', name='password', class='form-control', placeholder='物品名 ( e.g. ハムカツ)')
            div.form-group
                div.col-md-6
                    input(type='text', name='password', class='form-control', placeholder='数量 ( e.g. 1個)')
            div.form-group
                div.col-md-6
                    input(type='text', name='name', class='form-control', placeholder='依頼者名 ( e.g. 西川直登)')
            div.form-group
                div.col-md-6
                    input(type='text', name='password', class='form-control', placeholder='備考 ( e.g. おやつとして )')
            div.form-group
                div.col-md-6
                    input(type='text', name='password', class='form-control', placeholder='URL ( e.g. http://hogehoge_shop.com/ )')
            div.form-group
                div.col-md-6
                    button.btn.btn-default(type='submit') 送信