div(style="padding-bottom: 2rem;").container
        h1(style="padding-bottom: 1rem;")#status 依頼済み備品一覧
        div.card
            div.card-block
                h3.card-title ハムカツ
                table.table
                    thead
                        tr
                            td(style="width: 20%;") 数量
                            td(style="width: 80%;") 1
                        tr
                            td(style="width: 20%;") 依頼者
                            td style="width: 80%;") 西川直登
                        tr
                            td(style="width: 20%;") 備考
                            td(style="width: 80%;") おやつとして
                        tr
                            td(style="width: 20%;") URL
                            td(style="width: 80%;")
                                a(href="#") http://hogehoge_shop.com/
            div.card-footer
                ul.nav.nav-pills
                    li.nav-item
                        a(href="#").nav-link.active 依頼
                    li.nav-item
                        a(href="#").nav-link.text-muted 発注
                    li.nav-item
                        a(href="#").nav-link.text-muted 完了
                    li.nav-item
                        a(href="#").nav-link.text-muted 却下